<div th:fragment="menu">
<div class="panel ">
  <button onclick="menu('add')">Создать</button>
  <button onclick="menu('edit')">Изменить</button>
  <button onclick="menu('delete')">Удалить</button>
</div>

<form class="create" id="add" action="add_warships" method="post" style="display:none;">
  <h5>Создание</h5>
  <input type="text" class="input" name="name_warship" required autocomplete="off">Название корабля</input>
  <br>
  <input type="text" class="input" name="class_warship" required autocomplete="off">Класс</input>
  <br>
  <input type="date" class=" input" name="add_com" required autocomplete="off">Comission_date</input>
  <br>
  <input type="date" class=" input" name="add_decom" autocomplete="off">Decomission_date</input>
  <br>
  <input type="submit" name="action" value="Создать" class="create_order_btn btn btn-success">
</form>

<form class="create" id="edit" action="edit_warships" method="post" style="display:none;">
  <h5>Редактирование</h5>
  <input type="text" id="id_value" class="input" name="edit_name"  value = "1" readonly>id</input>
  <br>
  <input type="text" id="id_name" class="input" name="edit_warship" >Название корабля</input>
  <br>
  <input type="text" id="name_order_value" class="input" name="edit_class" autocomplete="off">Класс</input>
  <br>
  <input type="date" id="order_zakaz_value" class="input" name="edit_com" required autocomplete="off">Comission_date</input>
  <br>
  <input type="date" id="order_date_start_value" class=" input" name="edit_decom" autocomplete="off">Decomission_date</input>
  <br>
  <input type="submit" name="action" value="Изменить" class="create_order_btn btn btn-success">
</form>

<form class="create" id="delete" action="delete_warships" method="post" style="display:none;">
  <h5>Вы действительно хотите удалить?</h5>
  <input type="text" id="id_value_d" class="input" name="delete_name"   readonly></input>
  <input type="submit" name="action" value="Удалить" class="create_order_btn btn btn-success">
</form>
</div>